/*banner style*/
.banner-title{
    padding: 177px 530px 0px  530px;
    color: #f109de;

font-family: Merriweather;
font-size: 32px;
font-weight: 400;
line-height: normal;
}
.banner-heading{
    margin-top: -10px;
    padding: 0px 344px 177px 344px;
    max-width:632px;
    color: #f109de;

font-family: Merriweather;
font-size: 72px;
font-weight: 900px;
line-height: 95px; /* 131.944% */
} 
.banner{
    background: #FFF;
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
height: 600px;
margin: 50px 50px 140px 140px;
text-align: center;
margin: auto;

    }
.bnner-design{
    justify-content: center;
    gap:0px;

}
.section-title{
    margin-top: 120px;
margin-bottom: 48px;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0px;

}

.offer-item{
    color: #070211;

font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 10px;
}
.discount1{
    background: #FFF;
    text-align: center;
    padding-bottom: 5px;
}
.welcome-title{
    padding: 125px 550px 300px 125px;
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    padding-left: 500px;
    
}
.welcome-description{
    text-align: center;
    color: rgba(0, 199, 0, 0.8);
font-family: Inter;
font-size: 18px;

}
.welcome-button{
    color: #F00;
   
    text-align:left
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
margin: right 500px;px;

}
.welcome-section{
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width:1320px;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin:auto;
  padding-bottom: 5px;
  display: flex;
  row-gap: 0px;
 
}
.twenty-four{
    padding-right: 0px;
    margin-left: 0px;
    
   
}
   
  

section .welcome-section-class{
    padding-bottom: 0;
    border-bottom: 0;
    background-image: url('../resources/Vectorrr.png');
 margin-top: 50px;
    }
 
   .time-zone{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
text-align: center;
padding-top: 100px;
margin-top: 120px;
margin-left:1220px;
/*background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);*/
background-color: rgba(236, 206, 206, 0.911);
width: 1320px;
height: 482px;
align-items: center;


   }
   .time-zone-button{
    display: inline-flex;
margin: 64px 608px 126px 609px;
color: white;
background-color: #F00;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 16px 25px;
justify-content: center;
gap: 10px;
width: 200px;
height: 10px;
border: none;
border-radius: 8px;
align-items: center;

   }
   .time-description{
    padding: 100px 386px 214px 385;
    padding-top: 100px;
    width: 549px;
    height: 168px;
   }
   .holiday-title{
    color: #070211;
font-family: Inter;
font-size: 24px;
text-align: center;
font-weight: 500;
padding-top: 150px;

   }
   .holiday-discount{
    color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding-bottom: 0px;


   }
   .fifty-discount{
    color: black
   }
   .holiday-description{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px; /* 160% */
width: 1068px;
margin: auto;
   }
   .babypic-set{
    display: flex;
    float:right;
    margin-left: 0;
    margin-right: 1250px;
    margin-top: 100px;
    
   }
   .percent-fifty{
    margin:;
   }
   .
.box-setup{
    display: flex;
    float:right;
    margin-left: 0;
    margin-right: 1250px;
    margin-top: 100px;
    row-gap: 0px;

}
.box-pic{
    float:right;
    text-align: right;
    margin-bottom: -130px;
}
.rectanguar-pic{

    text-align: center;
    margin-left:1200px;
    margin-bottom: 300px;
    width: 1320px;
height: 229px;
}
.gift-declar{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;

}
.gifts-instruction{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.gift-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
}
.gif-div{
    text-align: left;
    margin-top: -50px;
    gap: 0;
    line-height: 0;
    margin-left: 1200px;
}
.show-gift-div{
    margin-left: 1200px;
    margin-bottom: 100px;
    
    
}
.first-row{
    padding-right: 20px;
    display: flex;
}
.second-row{
    display: flex;
}
.below-section{
    text-align: center;
    background-color: antiquewhite;
    width: 1320px;
height: 616px;
margin-left: 1200px;
padding-top: 80px;
}
.email-pic{
    width: 150px;
height: 150px;
}
   
   